[submodule "solutions/conocophillips-predictive-maintenance"]
	path = solutions/conocophillips-predictive-maintenance
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/conocophillips-predictive-maintenance
[submodule "solutions/samsung-scm"]
	path = solutions/samsung-scm
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/samsung-scm
[submodule "tools/mlmax-env"]
	path = tools/mlmax-env
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/mlmax-env
[submodule "solutions/gwf-forecast"]
	path = solutions/gwf-forecast
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/gwf-forecast
