[submodule "solutions/conocophillips-predictive-maintenance"]
	path = solutions/conocophillips-predictive-maintenance
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/conocophillips-predictive-maintenance
[submodule "solutions/samsung-scm"]
	path = solutions/samsung-scm
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/samsung-scm
[submodule "tools/mlmax-env"]
	path = tools/mlmax-env
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/mlmax-env
[submodule "solutions/gwf-forecast"]
	path = solutions/gwf-forecast
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/gwf-forecast
[submodule "solutions/transurban-traffic-forecast"]
	path = solutions/transurban-traffic-forecast
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/transurban-traffic-forecast
	branch = master
[submodule "solutions/cicd-ml-lambda-layer"]
	path = solutions/cicd-ml-lambda-layer
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/cicd-ml-lambda-layer
	branch = master
[submodule "tools/sshssm"]
	path = tools/sshssm
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/sshssm
	branch = master
[submodule "tools/ssheip"]
	path = tools/ssheip
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/ssheip
	branch = master
[submodule "solutions/docker-sagemaker-dlc"]
	path = tools/docker-sagemaker-dlc
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/docker-sagemaker-dlc
	branch = master
[submodule "tools/mlmax-python"]
	path = tools/mlmax-python
	url = ssh://git-codecommit.us-east-1.amazonaws.com/v1/repos/mlmax-python
    branch = master
[submodule "tools/serverless_sam"]
	path = tools/serverless_sam
	url = https://git-codecommit.us-east-1.amazonaws.com/v1/repos/serverless_sam
